Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab
Architecture: all
Breaks: hugnetserver,hugnetdatacollector
Pre-Depends: debconf
Depends: apache2, mysql-server, debconf,
        hugnetfirmware, hugnetscripts-datacollector,
        hugnetlib (>> 0.13.3), hugnetlib-webapi (>> 0.13.3), hugnetlib-images (>> 0.13.3),
        hugnetlab-common (= %VERSION%),
        hugnetlab-plugin-devices (= %VERSION%),
        hugnetlab-plugin-config (= %VERSION%),
        hugnetlab-plugin-control (= %VERSION%)
Description: This is a meta package to install the hugnet lab system on a computer.
 This installs the HUGnetLab system, setting everything up so that it should run
 properly out of the box.
