Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab-ui
Architecture: all
Pre-Depends: debconf
Depends: php5 (>= 5.3.2), php5-sqlite, hugnetlib (>> 0.10.0), hugnetlib-webapi (>> 0.10.0), php5-mysql, apache2, debconf
Breaks: hugnetlab-server
Description: This is the HUGnet User Interface
