*~
Documentation/
:*
HUGNET_LOCAL_DATABASE
old/
.swp.*
*.kate*
build/
rel/
*.ini
*.old
view/configuration.php
view/configuration.ini
.kdev4
*.kdev4
include/plugins/*.php
bin/
composer.json
composer.lock
composer/
node_modules/

