Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab-plugin-devices
Architecture: all
Pre-Depends: debconf
Breaks: hugnetlab-plugin-view
Depends: hugnetlab-common (= %VERSION%)
Description: The plugin for the device list for the HUGnet System
 This is where the devices can be viewed and the history viewed or exported.
