Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab-plugin-view
Architecture: all
Pre-Depends: debconf
Depends: hugnetlab-common (= %VERSION%)
Breaks: hugnetlab-plugin-devices, hugnetlab-plugin-config
Description: The plugin for configuration of a HUGnetLab system
 This is where everything is configured
