Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetview
Architecture: all
Pre-Depends: debconf
Depends: hugnetlab-common (= %VERSION%),
         hugnetlab-plugin-view (= %VERSION%),
         hugnetlib-js (>> 0.11.1)
Breaks: hugnetlab-server,hugnetdatacollector,hugnetlab
Description: This is the HUGnet User Interface
