Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab-plugin-images
Architecture: all
Pre-Depends: debconf
Breaks: hugnetlab-plugin-view, hugnetlab-plugin-tests
Depends: hugnetlab-common (= %VERSION%)
Description: The plugin for to display images with HUGnet data in them.
