Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab
Architecture: all
Breaks: hugnetlab-server
Pre-Depends: debconf
Depends: apache2, openssh-server, conspy, mysql-server, phpmyadmin, debconf, hugnetfirmware, hugnetlab-ui, hugnetscripts
Description: This is a meta package to install the hugnet lab system on a computer.
 This installs the HUGnetLab system, setting everything up so that it should run
 properly out of the box.
