Source: hugnetlab
Section: contrib/science
Priority: extra
Maintainer: Scott Price <prices@hugllc.com>
Homepage: http://dev.huglc.com/
Version: %VERSION%
Package: hugnetlab-plugin-config
Architecture: all
Pre-Depends: debconf
Breaks: hugnetlab-plugin-view
Depends: hugnetlab-common (= %VERSION%)
Description: The plugin for configuration of a HUGnetLab system
 This is where everything is configured
